/*----------------------------------
Name: Deweke
Version: 1.0.0
Author: Dekdekstudio
----------------------------------*/
/*------------- List ---------------
1.0 Font
2.0 Reset
3.0 Global
4.0 Preloader
5.0 Home
6.0 Navigation
7.0 About
8.0 Skill
9.0 Video
10.0 Experience
11.0 Project
12.0 Map & Contact
13.0 Footer
----------------------------------*/
@import 'abstracts/mixin';
@import 'abstracts/variable';
@import 'base/color';
@import 'base/size';
@import 'base/spacing';
/*----------- 1.0 Font -----------*/
@import 'base/typography';
/*----------- 2.0 Reset ----------*/
@import 'base/reset';
/*---------- 3.0 Global ----------*/
@import 'base/global';
@import 'components/button';
/*-------- 4.0 Preloader ---------*/
@import 'section/preloader';
/*----------- 5.0 Home -----------*/
@import 'section/home';
/*-------- 6.0 Navigation --------*/
@import 'section/navigation';
/*---------- 7.0 About -----------*/
@import 'section/about';
/*----------- 8.0 Skill ----------*/
@import 'section/skill';
/*----------- 9.0 Video ----------*/
@import 'section/video';
/*------- 10.0 Experience --------*/
@import 'section/experience';
/*--------- 11.0 Project ---------*/
@import 'section/project';
/*--------- 12.0 Map & Contact ---------*/
@import 'section/map';
@import 'section/contact';
/*--------- 13.0 Footer ----------*/
@import 'section/footer';